<div class="dinos">
    <h1>DINO FIGHT</h1>

    <ul>
        {{!-- Start - takes you to character slection screen --}}
        <li><a href="/dino-select">START</a></li>
        {{!-- options - takes you to a options menu where you can change sound/controls/also shows credits --}}
        <li>options</li>
    </ul>
</div>